.nav-bar{
    padding: 0px;
    float: right;
}

.nav-bar-container {
    background-color: #f2f2f2;
}

button#qsLoginBtn {
    background-color: #4553a0;
}

.navbar .router-link-exact-active {
    border-bottom-color: #4553a0;
}